@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Vollkorn&display=swap');

* {
  background-color: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="64" height="64"><circle cx="8" cy="8" r="7" fill="black"/></svg>') 8 8, auto;
}

body {
  overflow: auto;
  -webkit-font-smoothing: antialiased; 
  background: 
    linear-gradient(0deg, transparent 95%, #ccc 95%),
    linear-gradient(90deg, transparent 95%, #ccc 95%),
    white;
  background-size: 200px 200px; 
}

.contentContainer {
  background-color: white;
  position: absolute;
  top:3%;
  left: 15%;
  height: 1000px;
  width: 70%;
  border: 10px solid black;
  overflow: hidden;
  border-radius: 20px; 
  box-shadow: 0 10px 15px rgba(0,0,0,0.9);
}

.content {
  width: 50%;
  margin-top: 2%;
  margin-left: 30%;
  transition: transform 0.3s ease-in-out;
}

.scrollButton {
  position: absolute;
  left: 80%;
  top: 90%;
  transform: translateY(-50%);
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 3em;
  line-height: 1.7;
  color: #000000;
}

h3 {
  font-family: "obviously-variable", sans-serif;
  font-size: 2em;
  line-height: 0.65;
  color: grey;
}

.content img {
  display: block; 
  margin: 0 auto; 
  max-width: 100%; 
  height: auto; 
}

.highlight {
  background-color: yellow; 
  padding: 0.2em; 
  border-radius: 4px; 
}

/* 
::-webkit-scrollbar {
  width: 42px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0px 0px 2vh 0.3vh #d5e5ff;
  background: linear-gradient(to right, yellow 3%, #00f000 70%);
  border-radius: 50vh;
  display: inline-block;
} */

.scrollButton button {
  appearance: none;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 12px 40px;
  font-family: 'Manrope', sans-serif;
  font-size: 1em; 
  cursor: pointer;
  margin: 0 5px 10px 0;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

.scrollButton button:hover {
  background-color: #333;
}

.scrollButton button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  transform: translateY(2px);
}


@media (min-width: 768px) {
  .scrollButton button {
    padding: 12px 50px;
  }
}

@media screen and (max-width: 768px) {
  body, html {
    height: 100%; /* Ensure full height */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset paddings */
    overflow: hidden; /* Prevent scrolling on body to enforce a 'single page' feel */
  }

  .contentContainer {
    position: fixed; /* Fixed positioning to stay in view */
    top: 0; /* Align to the top */
    left: 3%; /* Centering with left and right at 5% */
    right: 5%;
    width: 90%;
    height: 60vh; /* 60% of the viewport height */
    margin-top: 20px; /* No margins necessary with fixed positioning */
    border-width: 5px; /* Optional: thinner border on mobile */
    overflow: auto; /* Allow scrolling within the contentContainer */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

  .content {
    width: 60%; /* Full width of the container */
    padding: 0px; /* Padding inside the content div */
    box-sizing: border-box; 
    /* Include padding and border in the element's total width and height */
  }

  .scrollButton {
    position: fixed; /* Fixed positioning to stay in view */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Stretch across the bottom */
    width: 100%; /* Full width of the viewport */
    height: 40vh; /* Remaining 40% of the viewport height */
    padding: 10px; /* Padding for aesthetic spacing */
    box-sizing: border-box; /* Include padding in the height calculation */
    text-align: center; /* Center the buttons */
  }

  .scrollButton button {
    width: 90%; /* Full width with a little margin */
    padding: 12px; /* Padding for buttons */
    margin: 5px 0; /* Margin for spacing between buttons */
  }

  h2, h3 {
    font-size: 0.7em; /* Adjust font size for mobile */
  }
}


